{{ 'ase-color-palette.css' | asset_url | stylesheet_tag }}
{% comment %} haldles {% endcomment %}
{%- assign use_swatches = true -%}
{%- assign img_prefix = 'th_viva12' -%}
{%- assign ext = '.jpg' %}
{% if collection.handle == 'preciosa-viva12-fb-hf' or collection.handle == 'premium-dmc-fb-hf' -%}
  {%- assign img_prefix = 'th_viva12' -%}
  {%- assign use_swatches = false -%}
{%- elsif collection.handle == 'swarovski-emelents-fb-hf' -%}
  {%- assign img_prefix = 'th_sw' -%}
  {%- assign ext = '.png' -%}
  {%- assign use_swatches = false -%}
{%- elsif collection.handle == 'cabochon-fb-hf' -%}
  {%- assign img_prefix = 'th_cabochon' -%}
  {%- assign use_swatches = false -%}
{% endif %}
{% if img_prefix %}
  {%- assign img_prefix = img_prefix | append: '_' -%}
{% endif %}
{% comment %} sort {% endcomment %}
{% if sort == '' %}
  {%- assign next_sort = '&sort_by=price-ascending' -%}
{% else %}
  {%- assign next_sort = '' -%}
{% endif %}
{% comment %} filters {% endcomment %}
{% for filter in filters %}
  {% if filter.label == 'Color' %}
    {% assign non_empty_filter_lables_count = 0 %}
    {% for filter_value in filter.values %}
      {% if filter_value.count > 0 %}
        {%- assign non_empty_filter_lables_count = non_empty_filter_lables_count | plus: 1 -%}
      {% endif %}
    {% endfor %}
    {% if non_empty_filter_lables_count > 0 %}
      {%- style -%}
        @supports (display:grid) {
            :root {
              {% comment %} output number of rows into css variable {% endcomment %}
              {% comment %} round(up, calc( {{ non_empty_filter_lables_count }} / var(--ase_cplt_columns)), 1) {% endcomment %}
              --ase_cplt_rows: calc( {{ non_empty_filter_lables_count }} / var(--ase_cplt_columns));
            }
            .ase-grid {
                grid-template-rows: repeat(var(--ase_cplt_rows), 36px);
                grid-auto-flow: column;
            }
          }
      {%- endstyle -%}
      <div class="ase-color-palette page-width ase-grid">
        {% for filter_value in filter.values %}
          {% if filter_value.count > 0 %}
            {% comment %} style="grid-column-start: calc( 1 + round(down, {{ forloop.index0 }} / var(--ase_cplt_rows), 1));  grid-row-start: mod({{ forloop.index }}, var(--ase_cplt_rows));" {% endcomment %}
            <a
              href="{{ filter_value.url_to_add | append: next_sort }}"
            >
              {% if use_swatches %}
                {% render 'swatch', swatch: filter_value.value %}
              {% else %}
                <div class="ase-color-palette-item">
                  <img
                    width="30"
                    height="30"
                    src="{{ img_prefix | append: filter_value.label | downcase | replace: ' ', '_' | append: ext | file_img_url }}"
                  >
                  <div class="ase-color-palette-item-title">{{- filter_value.label | escape -}}</div>
                </div>
              {% endif %}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
