{% comment %}
  Renders hues grid
  Accepts:
    filters: {Object} Filters object
    sort: {String}
{% endcomment %}
{{ 'ase-common.css' | asset_url | stylesheet_tag }}
{{ 'ase-hues.css' | asset_url | stylesheet_tag }}

{% comment %} sort {% endcomment %}
{% if sort == '' %}
  {%- assign next_sort = '&sort_by=price-ascending' -%}
{% else %}
  {%- assign next_sort = '' -%}
{% endif %}

{% comment %} filters {% endcomment %}
{% for filter in filters %}
  {% if filter.label == 'Hue' %}
    {% assign non_empty_filter_lables_count = 0 %}
    {% for filter_value in filter.values %}
      {% if filter_value.count > 0 %}
        {%- assign non_empty_filter_lables_count = non_empty_filter_lables_count | plus: 1 -%}
      {% endif %}
    {% endfor %}
    {% if non_empty_filter_lables_count > 0 %}
      {%- style -%}
        @supports (display:grid) {
            :root {
              {% comment %} output number of rows into css variable {% endcomment %}
              {% comment %} round(up, calc( {{ non_empty_filter_lables_count }} / var(--ase_cplt_columns)), 1) {% endcomment %}
              --ase_cplt_rows: calc( {{ non_empty_filter_lables_count }} / var(--ase_cplt_columns));
            }
            .ase-grid {
                grid-template-rows: repeat(var(--ase_cplt_rows), 36px);
                grid-auto-flow: column;
            }
          }
      {%- endstyle -%}
      <div class="ase-grid page-width ase-hues-grid">
        {% for filter_value in filter.values %}
          {% if filter_value.count > 0 %}
            {% comment %} style="grid-column-start: calc( 1 + round(down, {{ forloop.index0 }} / var(--ase_cplt_rows), 1));  grid-row-start: mod({{ forloop.index }}, var(--ase_cplt_rows));" {% endcomment %}
            <a
              href="{{ filter_value.url_to_add | append: next_sort }}"
            >
              <div class="ase-hues-item">
                {% render 'swatch', swatch: filter_value.swatch %}
                <span class="ase-hues-item-title">{{- filter_value.label | escape -}}</span>
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
